<div class="form clearfix">
  <h1>Editing workout</h1>
    <%= render 'form' %>
    <div class="back_buttons">
      <%= link_to 'Show', @workout,  :class => "btn btn-default" %>
      <%= link_to 'Back', workouts_path,  :class => "btn btn-default" %>
</div>
</div>