<div class="navigation cl-effect-12">
  <%if user_signed_in?%>
    <p>Hello, <%= current_user.email %>
  <% else %>
  <% end %>
  <%unless user_signed_in? %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <%unless user_signed_in? %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  <% end %>
</div>