<div class="about_us clearfix">
  <div class="about col-lg-6">
    <h2>About Us</h2>
    <h3>The fit life</h3>
    <p>Evitca is a platform that allows users to create custom workouts for their week. It is a platform that cna be adapted to suit the users needs and exercise goals. By providing up-to-date exercises and hwo to guides for each exercise.</p>
    <p>This application helps individuals to meet daily and long term goals when exercising. A smart way to train and to live the fit life with other Evitca users.</p>

  </div>
  <div class="about_right col-lg-5">
    <h3>What you can do</h3>
    
      <p>Browse an extensive range of exercises</p>
      <p>Create custom workouts</p>
      <p>Add additional exercises to your workouts</p>
      <p>Set specific reps and amounts for each exercises</p>
    
  </div>
</div>