<div class="row">
<div class="col-lg-6">
  <h2>Welcome to Evitica</h2>
  <h3>THE FIT LIFE</h3>
  <p>Start by viewing our large databse of exercises and then create your custom workouts. Get tips on how to perform exercises, what technique to use and customise each workout to have a custom theme, reps and amounts. </p>
  <p>Access your personalised workouts, every day at your convenince.</p>

</div>

<div class="images_home col-lg-6">
  <div class="col-lg-6">
  <%= image_tag("AIQ-Lifestyle.png", :alt => "Lifestyl", :width => "100%", :height => "178") %><br/>
  <%= image_tag("AIQ-both.jpg", :alt => "Lifestyl", :width => "100%", :height => "178") %>

  </div>
  <div class="col-lg-6">
  <%= image_tag("AIQ-lunge.jpg", :alt => "Lifestyl", :width => "100%", :height => "178") %>
  <%= image_tag("AIQ-up.jpg", :alt => "Lifestyl", :width => "100%", :height => "178") %>

  </div>
</div>
</div>