
 <div class="form col-lg-6 col-lg-offset-3 clearfix">
  <h1>Editing exercise</h1>
    <%= render 'form' %>
  <div class="back_buttons">
    <% Workout.find(params[:id]) do |workout|%>
    <%= link_to 'Back', workout_path(workout),  :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>