<h1>Editing exercise</h1>
 <div class="form clearfix">
    <%= render 'form' %>
  <div class="back_buttons">
    <% Workout.find(params[:id]) do |workout|%>
    <%= link_to 'Back', workout_path(workout),  :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
