
<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @exercise.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<%= link_to 'Back', exercises_path, :class => "btn btn-default btn-sm" %>
